{% extends "base.html" %}

{% load static %}
      
{% block head %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script>
        function bgImageSmall() {
            document.getElementById("root").style.backgroundImage = 'url("{% static 'img/background_glow.jpg' %}")';
        }
        function bgImageLarge() {
            document.getElementById("root").style.backgroundImage = 'url("{% static 'img/background_glow@100.jpg' %}")';
        }
    </script>
{% endblock %}
{% block root %}
    <div class="" id="root">
        <div role="banner" class="banner text-center">
            <p id="banner-student">
                A website of the <span class="students">students</span>, by the <span class="students">students</span>, for the <span class="students">students</span>, shall not perish from this school
            </p>
            <p id="banner-unofficial">
                The official TJHSST website can be accessed at <a target="_blank" rel="noopener noreferrer" href="https://tjhsst.fcps.edu">tjhsst.fcps.edu</a>
            </p>
        </div>

        <div id="overlay" class="h-100 p-3 d-flex justify-content-center align-items-center">
            <div class="container text-center">
                <div class="row">
                    <div class="col-12 ">
                        <div class="overlay-main">
                            <img class="img-fluid my-4" src="{% static 'img/logo.svg' %}" alt="TJHSST Logo" srcset="">
                            <p class="text-uppercase heading-2">
                                Thomas Jefferson
                                <br>
                                High School
                                <br>
                                for Science and Technology
                            </p>
                        </div>
                        <div class="overlay-sub">
                            <p>
                                New website coming soon!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="links">
            <div class="row">
                <div class="linkbox col-md-2 col-sm-4 col-6">
                    <a target="_blank" rel="noopener noreferrer" href="https://ion.tjhsst.edu">
                        <img class="icon" src="{% static 'img/logo.svg' %}">
                        <p>Intranet</p>
                    </a>
                </div>
                <div class="linkbox col-md-2 col-sm-4 col-6">
                    <a target="_blank" rel="noopener noreferrer" href="https://director.tjhsst.edu">
                        <i class="fa fa-cloud icon"></i>
                        <p>Director</p>
                    </a>
                </div>
                <div class="linkbox col-md-2 col-sm-4 col-6">
                    <a target="_blank" rel="noopener noreferrer" href="https://sites.google.com/fcpsschools.net/tjlibraryresources/home">
                        <i class="fas fa-book icon"></i>
                        <p>TJ Databases</p>
                    </a>
                </div>
                <div class="linkbox col-md-2 col-sm-4 col-6">
                    <a target="_blank" rel="noopener noreferrer" href="https://sga.tjhsst.edu">
                        <i class="fas fa-gavel icon"></i>
                        <p>TJ SGA</p>
                    </a>
                </div>
                <div class="linkbox col-md-2 col-sm-4 col-6">
                    <a target="_blank" rel="noopener noreferrer" href="https://fcps.blackboard.com">
                        <i class="fas fa-chalkboard icon"></i>
                        <p>Blackboard</p>
                    </a>
                </div>
                <div class="linkbox col-md-2 col-sm-4 col-6">
                    <a target="_blank" rel="noopener noreferrer" href="https://sisstudent.fcps.edu">
                        <i class="fas fa-user-graduate icon"></i>
                        <p>SIS Student</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <img class="loader" src="{% static 'img/background_glow.jpg' %}" style="display:none" onload="bgImageSmall();">
    <img class="loader" src="{% static 'img/background_glow@100.jpg' %}" style="display:none" onload="bgImageLarge();">
{% endblock %}
