@import url("https://fonts.googleapis.com/css?family=Heebo:300,300i,700");
@import url("https://fonts.googleapis.com/css?family=Calligraffitti");

html, body {
    font-family: "Heebo", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}
::selection {
    background: rgba(221, 64, 58, 0.5);
}
::-moz-selection {
    background: rgba(221, 64, 58, 0.5);
}
#root {
    background-image: linear-gradient(
        rgba(3, 71, 50, 1) 0%,
        rgba(40, 35, 41, 1) 20%,
        #000000 80%,
        rgba(8, 103, 136, 1) 100%
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner {
    font-size: 1.3em;
    color: rgba(255, 252, 236, 1);
    background-color: rgba(221, 64, 58, 0.8);
    padding-top: 10px;
    padding-bottom: 2px;
}
#banner-student {
    font-family: "Calligraffitti";
    padding: 0px 30px 0px 30px;
    margin-bottom: 0px;
}
#banner-unofficial {
    margin-bottom: 10px;
}
#banner-unofficial > a {
    color: rgba(110, 213, 247, 1);
}

#banner-student .students {
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

/* Overlay */
#overlay {
    min-height: 80.7vh;
    min-height: calc(100vh - 274px);
}
.overlay-main {
    background-color: rgba(8, 103, 136, 0.8);
    padding: 10px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.overlay-main p {
    font-size: 2.5em;
    line-height: 1.3em;
    color: rgba(255, 252, 236, 1);
    font-weight: bold;
}
.overlay-main img {
    height: 120px;
}
.overlay-sub {
    background-color: rgba(3, 71, 50, 0.8);
    padding: 15px;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.overlay-sub p {
    color: rgba(255, 252, 236, 1);
    font-size: 2em;
    margin-bottom: 0px;
}

/* Links */
.linkbox {
    font-size: 1em;
    color: rgba(40, 35, 41, 1);
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
}
#links {
    background-color: rgba(8, 103, 136, 0.8);
}
.icon {
    text-align: center;
    font-size: 60px;
    height: 60px;
    color: rgba(255, 252, 236, 1);
    margin: 10px;
}
.linkbox a {
    color: rgba(255, 252, 236, 1);
}
.linkbox a p {
    font-size: 120%;
}
.linkbox a:hover {
    text-decoration: none;
}
.linkbox a:hover .icon,
.linkbox a:hover p {
    opacity: 0.7;
}
.linkbox .officiallink {
    text-align: center;
    font-size: 1em;
    color: rgba(255, 252, 236, 1);
    background-color: rgb(179, 22, 11);
    margin: 5px;
    border-radius: 15px;
    padding: 15px;
}

@media (max-width: 576px) {
    #banner-student {
        padding: 15px;
    }
    .overlay-main p {
        font-size: 1.5em;
    }
    .overlay-sub p {
        font-size: 1.25em;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}

