#image {
    width: 100vw;
    background-size: cover;
}

.lab-box {
    padding: 3px;
}
.recommended {
    padding: 3px 5px;
    margin-right: 3px;
    background-color: #ddddff;
    color: #4444ff;
}

.recommended:hover {
    background-color: #ccccee;
    color: #3333ee;
    text-decoration: none;
}

.prerequisite {
    padding: 3px 5px;
    margin-right: 3px;
    background-color: #ddddff;
    color: #4444ff;
}

.prerequisite:hover {
    background-color: #ccccee;
    color: #3333ee;
    text-decoration: none;
}

.lab-picture {
    background-size: contain;
    min-height: 100px;
    height: 20vh;
    background-position: center;
    background-repeat: no-repeat;
}

.edit-link, .edit-link:visited {
    font-size: 80%;
    color: #3366FF;
}

