/* RGB */
$primary: rgba(8, 103, 136, 1);
$secondary: rgba(3, 71, 50, 1);
$light: rgba(255, 252, 236, 1);
$dark: rgba(40, 35, 41, 1);
$highlight: rgba(221, 64, 58, 1);
$url: rgba(110, 213, 247, 1);
$alternate: rgba(255, 105, 180, 1);
