@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700");
@import url("https://fonts.googleapis.com/css?family=Calligraffitti");

html,
body {
    font-family: "Open Sans Condensed", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}
::selection {
    background: rgba(221, 64, 58, 0.5);
}
::-moz-selection {
    background: rgba(221, 64, 58, 0.5);
}

.category {
    border: 1px solid #44cc44;
    padding: 0px 3px;
    color: #44cc44;
    font-size: 70%;
}

.category:hover {
    color: white;
    background-color: #44cc44;
    text-decoration: none;
}

.category-large {
    font-size: 100%;
}

.keyword {
    padding: 3px 5px;
    background-color: #ddddff;
    color: #4444ff;
}

.keyword:hover {
    background-color: #ccccee;
    color: #3333ee;
    text-decoration: none;
}

.navbar {
    background: rgba(8, 103, 136, 1);
}

.nav.navbar-nav {
    height: 24px;
}

.navbar .logo {
    background-image: url("/static/assets/img/favicon.ico");
    background-size: auto 30px;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    float: left;
    vertical-align: baseline;
}

.navbar h1 {
    margin-bottom: 0px;
    font-size: 30px;
    line-height: 30px;
    vertical-align: baseline;
    padding-left: 8px;
    float: left;
}

.navbar .search {
    height: 24px;
    border-radius: 3px;
}

.navbar .search input[type="search"] {
    border-radius: 5px;
    padding: 0px 0px 0px 5px;
    margin: 0px;
    float: left;
    line-height: 24px;
    width: 200px;
    border: none;
}

.navbar .search button[type="submit"] {
    background-color: rgba(221, 64, 58, 1);
    border-radius: 3px;
    margin-left: 20px;
    color: #fff;
    font-size: 13px;
    float: right;
    height: 24px;
    border: none;
    box-shadow: none;
}
