@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700");
@import url("https://fonts.googleapis.com/css?family=Calligraffitti");

html,
body {
    font-family: "Open Sans Condensed", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}
::selection {
    background: rgba(221, 64, 58, 0.5);
}
::-moz-selection {
    background: rgba(221, 64, 58, 0.5);
}

.category {
    border: 1px solid #44CC44;
    padding: 0px 3px;
    color: #44CC44;
    font-size: 70%;
}

.keyword {
    padding: 3px 5px;
    background-color: #DDDDFF;
    color: #4444FF;
}
