#image {
    width: 100vw;
    background-size: cover;
}

.card-columns.lab-container {
    text-align: center;
    margin-top: 0px;
}

.lab-box {
    padding: 0px;
    border: none;
    max-width: 600px;
}

.lab {
    margin: 10px;
    padding: 10px;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    text-align: left;
}

.recommended {
    padding: 3px 5px 1px 5px;
    margin-right: 3px;
    background-color: #ddddff;
    color: #4444ff;
}

.recommended:hover {
    background-color: #ccccee;
    color: #3333ee;
    text-decoration: none;
}

.prerequisite {
    padding: 3px 5px 1px 5px;
    margin-right: 3px;
    background-color: #ddddff;
    color: #4444ff;
}

.prerequisite:hover {
    background-color: #ccccee;
    color: #3333ee;
    text-decoration: none;
}

.lab-title {
    padding: 3px 5px;
    margin-right: 3px;
    background-color: #c3ffdd;
    color: #3daaff;
}

.lab-title:hover {
    background-color: #aceaca;
    color: #3daaff;
    text-decoration: none;
}

.lab-picture {
    background-size: contain;
    min-height: 100px;
    height: 20vh;
    background-position: center;
    background-repeat: no-repeat;
}

.edit-link, .edit-link:visited {
    font-size: 80%;
    color: #3366FF;
}

.recommended.taken {
    background-color: #44cc44;
    color: white;
    font-weight: bold;
}

.prerequisite.taken {
    background-color: #44cc44;
    color: white;
    font-weight: bold;
}

.prerequisite.taken:hover {
    background-color: #51f251;
}

.recommended.taken {
    background-color: #44cc44;
    color: white;
    font-weight: bold;
}

.recommended.taken:hover {
    background-color: #51f251;
}

.recommended.taken i.fa, .prerequisite.taken i.fa {
    padding-left: 2px;
    padding-right: 5px;
}

@media(min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media(min-width: 720px) {
    .card-columns {
        column-count: 2;
    }
}

@media(min-width: 960px) {
    .card-columns {
        column-count: 3;
    }
}

