{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'labs.css' %}">
{% endblock %}

{% block main %}
    <h2>
        {{ recommended.name }}
    </h2>

    <p>{{ labs|length }} labs</p>

    {% for lab in labs %}
        <div class="lab lab-box">
            <a href="{% url 'labs:show' lab.url %}">{{ lab.name }}</a>
            {% for recom in lab.recommended.all %}
                <a class="recommended recommended-large" href="{% url 'labs:show_recommended' recom.url %}">
                    {{ recom.name }}
                </a>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}

