{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'labs.css' %}">
{% endblock %}

{% block main %}
    <div>{{ labs|length }} lab{{ labs|length|pluralize:",s" }}</div>

    <div class="row" style="margin: 0px">
        {% for lab, prereq_recommended in labs %}
            <div class="lab lab-box col-12 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <h3><a href="{% url 'labs:show' lab.url %}">{{ lab.name }}</a></h3>
                <p>{{ lab.description }}</p>
                <table class="table" style="display:inline-block">
                    <tr>
                        <th>Prerequisites</th>
                        <th>Recommended</th>
                    </tr>
                    {% for prereq, recommended in prereq_recommended %}
                        <tr>
                            <td>
                                {% if prereq %}
                                    <span class="prerequisite{% if prereq.url in course_urls %} taken{% endif %}">
                                        {{ prereq.name }}
                                        {% if prereq.url in course_urls %}
                                            <i class="fa fa-check"></i>
                                        {% endif %}
                                    </span>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </td>
                            <td>
                                {% if recommended %}
                                    <span class="recommended{% if recommended.url in course_urls %} taken{% endif %}">
                                        {{ recommended.name }}
                                        {% if recommended.url in course_urls %}
                                            <i class="fa fa-check"></i>
                                        {% endif %}
                                    </span>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}

