{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'labs.css' %}">
{% endblock %}

{% block main %}
    <div>{{ labs|length }} lab{{ labs|length|pluralize:",s" }}</div>
    <h5><a href="{% url 'labs:find_by_courses' %}">Find your labs!</a></h5>
    <div class="lab-container card-columns">
        {% for lab, prereq_recommended in labs %}
            <div class="lab-box card">
                <div class="lab card-body"{% if lab.image %} style="background-image:url({{ lab.image.url }});"{% endif %}>
                    <h3><a href="{% url 'labs:show' lab.url %}">{{ lab.name }}</a></h3>
                    <p>{{ lab.description }}</p>
                    {% if course_urls %}
                        <table class="table" style="display:inline-block">
                            <tr>
                                <th>Prerequisites</th>
                                {% if lab.recommended.all %}<th>Recommended</th>{% endif %}
                            </tr>
                            {% for prereq, recommended in prereq_recommended %}
                                <tr>
                                    <td>
                                        {% if prereq %}
                                            <a class="prerequisite{% if prereq.url in course_urls %} taken{% endif %}" href="{% url 'labs:show_course' prereq.url %}">
                                                {{ prereq.nickname_or_name }}
                                                {% if prereq.url in course_urls %}
                                                    <i class="fa fa-check"></i>
                                                {% endif %}
                                            </a>
                                        {% else %}
                                            &nbsp;
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if recommended %}
                                            <a class="recommended{% if recommended.url in course_urls %} taken{% endif %}" href="{% url 'labs:show_course' recommended.url %}">
                                                {{ recommended.nickname_or_name }}
                                                {% if recommended.url in course_urls %}
                                                    <i class="fa fa-check"></i>
                                                {% endif %}
                                            </a>
                                        {% else %}
                                            &nbsp;
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <i>Based on <a href="https://tjhsst.fcps.edu/node/2761">https://tjhsst.fcps.edu/node/2761</a></i>
{% endblock %}

