{% extends "base.html" %}
{% load static %}

{% block head %} 
    <link rel="stylesheet" href="{% static 'labs.css' %}" /> 
{% endblock %}

{% block main %}
    <div style="background-image: url({{ lab.image.url }}); background-size: cover;"></div>
    <h2>
        {{ lab.name }} 
    </h2>
    {% if lab.link %}
        <p><a href="{{ lab.link }}">{{ lab.link }}</a></p>
    {% endif %}
    <p>{{ lab.description }}</p>
    <p>
        {% for prerequisite in lab.prerequisites.all %}
        <a class="prerequisite" href="{% url 'labs:show_prerequisite' prerequisite.url %}">{{ prerequisite.name }}</a>
        {% endfor %}
    </p>
    <p>
        {% for recommended in lab.recommended.all %}
            <a class="recommended" href="{% url 'labs:show_recommended' recommended.url %}">{{ recommended.name }}</a>
        {% endfor %}
    </p>
{% endblock %}

