{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'labs.css' %}">
{% endblock %}

{% block main %}
    {% if lab.image %}
        <div class="lab-picture" style="background-image:url({{ lab.image.url }});"></div>
    {% endif %}
    <h2>
        {{ lab.name }}
        {% if can_edit %}
            <a class="edit-link" href="{% url 'labs:edit' lab.url %}">edit</a>
        {% endif %}
    </h2>
    {% if lab.link %}
        <p><a href="{{ lab.link }}">{{ lab.link }}</a></p>
    {% endif %}
    <p>{{ lab.description }}</p>
    <h5>Required Courses:</h5>
    <p>
        {% for course in lab.prerequisites.all %}
            <a class="prerequisite" href="{% url 'labs:show_course' course.url %}">{{ course.name }}</a>
        {% endfor %}
    </p>
    <h5>Recommended Courses:</h5>
    <p>
        {% for course in lab.recommended.all %}
            <a class="recommended" href="{% url 'labs:show_course' course.url %}">{{ course.name }}</a>
        {% endfor %}
    </p>
{% endblock %}

