{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/labs.css' %}">
{% endblock %}

{% block main %}
    {% if lab.image %}
        <div class="lab-picture" style="background-image:url({{ lab.image.url }});"></div>
    {% endif %}
    <br>
    <h2>
        {{ lab.name }}
        <a class="lab-btn" href="{% url 'labs:show_projects' lab.url %}">Past Projects</a>
        {% if can_edit %}
            <a class="lab-btn" href="{% url 'labs:edit' lab.url %}">Edit</a>
        {% endif %}
    </h2>
    {% if lab.link %}
        <p><a href="{{ lab.link }}">{{ lab.link }}</a></p>
    {% endif %}
    <p>{{ lab.description }}</p>
    <hr>
    <h5>Required Courses:</h5>
    <p style="line-height: 2em">
        {% for course in lab.prerequisites.all %}
            <a class="prerequisite" href="{% url 'labs:show_course' course.url %}">{{ course.name }}</a>
        {% endfor %}
    </p>
    {% if lab.recommended.exists %}
        <h5>Recommended Courses:</h5>
        <p style="line-height: 2em">
            {% for course in lab.recommended.all %}
                <a class="recommended" href="{% url 'labs:show_course' course.url %}">{{ course.name }}</a>
            {% endfor %}
        </p>
    {% endif %}
    {% if testimonials %}
    <hr>
    <h4>What Past Students Say:</h4>
        <div class="card-columns">
            {% for t in testimonials %}
                <div class="card">
                    <div class="card-body">
                        {{ t.content }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

