{% extends "base.html" %}
{% load static %}
{% block main %}
    <h2>Courses</h2>
    <form>
        {% for course in all_courses %}
        <div>
            <input type="checkbox" name="courses[]" value="{{ course.url }}" id="course-{{ course.id }}"{% if course.url in course_urls %} checked{% endif %}> <label for="course-{{ course.id }}">{{ course.name }}</label>
        </div>
        {% endfor %}
        <div>
            <input type="submit" value="See Labs" name="submit">
        </div>
    </form>
{% endblock %}

