{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <script>
        $(function() {
            $("input,textarea,select").on("change paste input", function() {
                window.onbeforeunload = function() {
                    return 'You have unsaved changes on this page';
                }
            });
            $("#submit_btn").click(function() {
                window.onbeforeunload = null;
            });
        });
    </script>
{% endblock %}

{% block main %}
    <a class="return-button" href="{% url 'clubs:show' club.url %}">View Club Page</a>
    <h2>{{ club_form.errors }}</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="tbl">
            {% for field in club_form %}
                <div class="tbl-row">
                    <span class="tbl-cell bold">{{ field.label_tag }}</span>
                    <div class="tbl-cell">{{ field }}</div>
                </div>
            {% endfor %}
        </div>
        <input type="submit" id="submit_btn" value="Save">
    </form>
{% endblock %}