{% extends "base.html" %}
{% load static %}

{% block title %}TJHSST: Clubs{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'clubs.css' %}">
{% endblock %}

{% block main %}
    <p>{{ clubs|length }} club{{ clubs|length|pluralize:",s" }}</p>

    {% for club in clubs %}
        <div class="club club-box">
            <a href="{% url 'clubs:show' club.url %}">{{ club.name }}</a>
            <a class="category category-large" href="{% url 'clubs:show_category' club.category.url %}">
                {{ club.category.name }}
            </a>
        </div>
    {% endfor %}

{% endblock %}

