{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'clubs.css' %}">
{% endblock %}

{% block main %}
    <div class="club-picture" style="background-image:url({{ club.image.url }});"></div>
    <h2>
        {{ club.name }}
        <a class="category" href="{% url 'clubs:show_category' club.category.url %}">
            {{ club.category.name }}
        </a>
    </h2>
    {% if club.link %}
        <p><a href="{{ club.link }}">{{ club.link }}</a></p>
    {% endif %}
    <p>{{ club.description }}</p>
    <p>
        {% for keyword in club.keywords.all %}
            <a class="keyword" href="{% url 'clubs:show_keyword' keyword.url %}">{{ keyword.name }}</a>
        {% endfor %}
    </p>
{% endblock %}

