{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/clubs.css' %}">
{% endblock %}

{% block main %}
    {% if club.image %}
        <div class="club-picture" style="background-image:url({{ club.image.url }});"></div>
    {% endif %}
    <h2>
        {{ club.name }}
        {% if club.category %}
            <a class="category" href="{% url 'clubs:show_category' club.category.url %}">
                {{ club.category.name }}
            </a>
        {% endif %}
        {% if can_edit %}
            <a class="edit-link" href="{% url 'clubs:edit' club.url %}">edit</a>
        {% endif %}
    </h2>
    {% if club.link %}
        <p><a href="{{ club.link }}">{{ club.link }}</a></p>
    {% endif %}
    <p>{{ club.description }}</p>
    {% if club.activity_id %}
        <p>Sign up on <a href="https://ion.tjhsst.edu/eighth/signup?{{ club.activity_id }}">Ion.</a></p>
    {% endif %}
    <p>
        {% for keyword in club.keywords.all %}
            <a class="keyword" href="{% url 'clubs:show_keyword' keyword.url %}">{{ keyword.name }}</a>
        {% endfor %}
    </p>
{% endblock %}

